schema/categorization.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">
  <!-- defines how the channels files are defined on disk for override -->
  <xs:complexType name="channel_type">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Each channel is made up includes rules and excludes rules.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rule" minOccurs="0" maxOccurs="unbounded" type="rule_type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="channels_type">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Define all of the channels files.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="cal_a" type="channel_type"/>
      <xs:element name="eng_a" type="channel_type"/>
      <xs:element name="nfov_a" type="channel_type"/>
      <xs:element name="nfov_pc" type="channel_type"/>
      <xs:element name="pol_a" type="channel_type"/>
      <xs:element name="pol_pc" type="channel_type"/>
      <xs:element name="spy_a" type="channel_type"/>
      <xs:element name="spy_pc" type="channel_type"/>
      <xs:element name="wfov_a" type="channel_type"/>
      <xs:element name="wfov_pc" type="channel_type"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="rule_type">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Define what a list of in/ex-cludes are

        @conjunction is how to join this rule with previous with the first rule applied to itself
        @keyword is the keyword from the primary header
        @operator is how the values should be checked against the header value

        value - an attempt will be made to case this value to what fits reports as the type of the value in the header like bool, complex, float, int, and str. Note that these are Python representation. Therefore the value in the xml file like <value>0</value> must give the correct result for bool(x) in Python if the value in the header is T/F which will report as a bool. Hopefully that makes any sense at all.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" minOccurs="1" maxOccurs="unbounded" type="xs:anyType"/>
    </xs:sequence>
    <xs:attribute name="conjunction" type="conjunction" use="required"/>
    <xs:attribute name="keyword" type="xs:normalizedString" use="required"/>
    <xs:attribute name="operator" type="operator" use="required"/>
  </xs:complexType>

  <xs:simpleType name="conjunction">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="and"/>
      <xs:enumeration value="and not"/>
      <xs:enumeration value="or"/>
      <xs:enumeration value="or not"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="operator">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="contains-all"/>
      <xs:enumeration value="contains-any"/>
      <xs:enumeration value="equals-all"/>
      <xs:enumeration value="equals-any"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="channels">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          This terrible construct is so that xjc can autodetect this as the
          root node for processing. Many things would be better but this is
          the most workable solution especially if the making of the binding
          code is automated in the pom. The only other real solution is to
          modify one of the classes generated by hand.
        </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
        <xs:extension base="channels_type"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
