schema/system.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">
  <!-- defines how the system files are defined on disk for override -->
  <xs:complexType name="system_item">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Define what is needed for each of the system items.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="location" type="xs:normalizedString" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="system_type">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Define all of the system root directories for moving and storing data.

        archive - directory to write manifest and signal files for SSC pickup
        journal - directory to move L1 manifest files from SSC once processed
        staging - directory to read manifest and sigal files from SSC
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element default="no comment" name="archive" type="system_item"/>
      <xs:element default="no comment" name="journal" type="system_item"/>
      <xs:element default="no comment" name="staging" type="system_item"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="system">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
          This terrible construct is so that xjc can autodetect this as the
          root node for processing. Many things would be better but this is
          the most workable solution especially if the making of the binding
          code is automated in the pom. The only other real solution is to
          modify one of the classes generated by hand.
        </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
        <xs:extension base="system_type"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
